body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
    font-family: "Helvetica Neue",STHeiti,"Microsoft YaHei",Helvetica,Arial,sans-serif; margin:0; padding:0
}
body {
    font-size: 13px;
    color: #717172;
    width:100%;
    height:100%;
    background-color: #fcfdfd
}
h2{ font-size: 1.5em; font-weight:normal; margin-top: 0.2em; color: #545454; margin-top: 10px;}
ul,li{ list-style:none; margin:0; padding:0}
a{text-decoration:none; color:#666; cursor:pointer}
input, input[type=button]{-webkit-appearance:none; outline: none /*去除input默认样式*/}
input::focus {-webkit-appearance:none; background-color:#fff/*去除input默认样式*/}
::-webkit-input-placeholder { 
color: #313131;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #313131;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #313131;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #313131;
} 
input, input[type=button], a, li{-webkit-tap-highlight-color: rgba(0,0,0,0);}
.left{float: left}
.clearfix:after, .shops li:after{clear:both; height:0; *zoom:1; content:""; visibility:hidden; display:block}
.shops{width: 1160px; margin: 0 auto; position: relative}
.btn{padding:5px 12px; background:none; border:none; color:#fff; border-radius: 2px;}
.btn-primary{background-color:#0099cc}
.btn-default,.btn-cancel{background-color:#a0a4a8}
.btn-success{background-color: #5BB75B;}
.btn-warning{background-color: #FAA732;}
.btn-danger{background-color:#D9534F}
.btn-deepblue{background-color:#006dcc}
.btn-danger:hover, .btn-danger:active, .btn-danger:focus{background-color:#BD362F}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{background-color:#008ebd}
.btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus, .btn-default:hover, .btn-default:active, .btn-default:focus{background-color:#868b90}
.btn-success:hover, .btn-success:active, .btn-success:focus{background-color:#51A351}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus{background-color:#F89406}
.btn-deepblue:hover, .btn-deepblue:active, .btn-deepblue:focus{background-color:#0065bd}
/*.droptrue, .dropfalse{ margin: 0; float: left;}*/
.droptrue li,.add, .droptrue1 li, .dropfalse li{ width: 142px; height: 47px;margin: 5px; float: left; box-sizing: border-box; border: 1px dashed #c3c4c4; background-color: #f2f3f4; position: relative}
.sortable2{ width: 312px; padding: 0 4px; box-sizing: border-box;  height: 91px; background-color: #f2f3f4; overflow: hidden; position:relative}
.phposition{width: 312px; height: 510px;  background: url(../images/iphone.png) no-repeat; position: absolute; left: 406px ; top:26px; padding: 82px 25px 138px; }
/*.sortable1{ width: 304px;position: absolute;left: 0; top:120px; cursor: move}*/
.sortable1{ width: 304px;margin-top: 50px; cursor: move}
.sortable1 li{ line-height: 45px; }
li span{ width: 23px; height: 23px; display: block; margin: 10px 14px}
.add{ background: url(../images/shopicons/add.png) no-repeat center #f4f5f5; cursor: pointer}
li span.txl{background: url(../images/newicon/txl.png) no-repeat; background-size: 23px auto}
li span.wdkq{background: url(../images/newicon/wdkq.png) no-repeat; background-size: 23px auto}
li span.wqqd{background: url(../images/newicon/wqqd.png) no-repeat; background-size: 23px auto}
li span.tcjf{background: url(../images/newicon/tcjf.png) no-repeat; background-size: 23px auto}
li span.cwyd{background: url(../images/newicon/cwyd.png) no-repeat; background-size: 23px auto}
li span.wybx{background: url(../images/newicon/wybx.png) no-repeat; background-size: 23px auto}
li span.zhtc{background: url(../images/newicon/zhtc.png) no-repeat; background-size: 23px auto}
li span.swgl{background: url(../images/newicon/swgl.png) no-repeat; background-size: 23px auto}
li span.kf,li span.fk, li span.zh{ background: url(../images/sortable.png) no-repeat; background-size: 236px auto}
li span.kf{ background-position: 0 0;}
li span.fk{ width: 26px;background-position: -66px 0}
li span.zh{ background-position: -134px 0}
.shop_btns{ display: none}
.shop_btns input{ margin-right: 10px;}
.nullcontent{ margin-top: 86px}
.nullmsg{ font-size: 13px; margin-top: 28px; text-align: center}
.nullbg{ background: url(../images/example.png) center no-repeat; width: 100%; height: 70px;}
.sortable2 li{ width: 25%; float: left; margin: 0; box-sizing: border-box; border: 1px solid #f2f3f4; height: 91px; line-height: auto;position: relative}
.sortable2 li.scanbox{ position: absolute; right: 2px}
.sortable2 li div.left{ float: none; text-align: center}
.sortable2 li span{ width: 32px; height: 32px; margin: 16px 20px 13px; background: url(../images/sortable.png) no-repeat; background-size: 327px auto; float: none}
.sortable2 li span.kf{ background-position: 0 0}
.sortable2 li span.fk{ width: 35px; background-position: -92px 0}
.sortable2 li span.zh{ background-position: -186px 0}
.sortable2 li span.scan{ width: 48px; height: 39px; background-position: -279px 0; margin-top: 8px}
.sortable2 li span.txl{background: url(../images/newicon/txl.png) no-repeat; background-size: 32px auto}
.sortable2 li span.wdkq{background: url(../images/newicon/wdkq.png) no-repeat;background-size: 32px auto}
.sortable2 li span.wqqd{background: url(../images/newicon/wqqd.png) no-repeat;background-size: 32px auto}
.sortable2 li span.tcjf{background: url(../images/newicon/tcjf.png) no-repeat; background-size: 32px auto}
.sortable2 li span.cwyd{background: url(../images/newicon/cwyd.png) no-repeat;background-size: 32px auto}
.sortable2 li span.wybx{background: url(../images/newicon/wybx.png) no-repeat;background-size: 32px auto}
.sortable2 li span.zhtc{background: url(../images/newicon/zhtc.png) no-repeat;background-size: 32px auto}
.sortable2 li span.swgl{background: url(../images/newicon/swgl.png) no-repeat;background-size: 32px auto}
.sortable3{ width: 300px; min-height: 170px; padding: 0 5px; }
.sortable3 li{ width: 100%!important;background: url(../images/arrow.png) no-repeat right center; background-size: 12px auto; background-color: #fff;margin: 0; border: none; border: 1px solid #e7e7e7; border-color: #fff #fff #e7e7e7 #fff; box-sizing: border-box; line-height: 54px;color: #30373d; font-size: 16px; height: 56px; }
.sortable3 li span{ margin-top: 17px}
.shop_detail{position: absolute; right: 0; width: 292px; height: 475px; padding-top: 152px; box-sizing: border-box; font-size: 13px; color: #717172;top: 0}
.shop_detail span.grey{ margin-left: 14px; color: rgba(113,113,113,0.6)}
.sh_title{ margin-bottom: 15px; padding-left: 4px}
.trow{ margin-bottom: 38px;}
.trow input[type="text"], .trow select{ width: 290px; height: 28px; line-height: 28px; font-size: 12px; background-color: #f4f5f5; border: 1px solid #cacaca; padding-left: 12px; box-sizing: border-box}
.sh_icon{ width: 60px; height: 60px;  background: url(../images/shopicons/cl.png) no-repeat; background-size: 100%; margin-left: 28px; }
.sortable1 li:hover{ border-style: solid; }
.shops li a{ width: 14px; height: 14px; display: block; right: -1px; top:-1px; position: absolute}
.sortable1 li:hover > a{background: url(../images/shopicons/lia.png) no-repeat;}
.sortable2 li:hover, .sortable3 li:hover{ border:1px solid #ff5400}
.sortable2 li:hover > a, .sortable3 li:hover > a{background: url(../images/shopicons/liah.png) no-repeat;}
.sortable1 li{ visibility: visible!important}
.corpname{ margin: 24px 135px 0 0; font-size: 14px; color: #545454; text-align: center; width: 312px; overflow: hidden; height: 18px; }
.corpname img{ height: 17.5px; width: auto}
.scrollwrap{ height: 455px; overflow-y: auto; overflow-x: hidden; margin-top: 10px; border-top: 1px solid #f8f8f8; margin-left: -1px}
.shops .banner img{ width: 100%; margin-bottom: -3px}
.sortable2 li.ui-state-highlight, .sortable3 li.ui-state-highlight{ border-bottom: 1px solid #ccc}
.apps{ color: #30373d; font-size: 16px; height: 50px; line-height: 50px; border-bottom: 1px solid #e7e7e7; padding-left: 28px;position: relative}
.apps span{ width: 3px; height:18px; border-left: 3px solid #f15a4a; left: 16px; top: 16px; border-radius: 1px; position: absolute}
.error{ font-size: 14px; color:#f15a4a;clear: left; padding: 5px;}
#sortable1 li.mask:after{ position: absolute; background-color: rgba(222,222,222,.8); width: 100%; height: 100%; visibility: visible}
.fileup{ position: relative;}
.upbtn{ position: absolute; opacity: 0}
.upimg{    max-width: 160px;height: auto;display: block; margin: 6px 0;}
.btn-row .sh_title{ width: 110px; text-align: right; margin-right: 8px;}
.btn-row{ margin-bottom: 16px}
.btn-row:first-child{ padding-top: 64px; padding-bottom: 16px}

#wrapper{width:313px;height:86px;position:relative;color:#fff;text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;}
#slider-wrap{width:313px;height:86px;position:relative;	overflow:hidden;}
#slider-wrap ul#slider{width:100%;height:100%;position:absolute;top:0;left:0;}
#slider-wrap ul#slider li{float:left;position:relative;width:313px;height:86px;	}
#slider-wrap ul#slider li > div{position:absolute;top:20px;left:35px;}
/*bar*/
#pagination-wrap{min-width:20px;margin-top:64px;margin-left: auto; margin-right: auto;height:15px;position:relative;text-align:center;}
#pagination-wrap ul {width:100%;}
#pagination-wrap ul li{margin: 0 4px;display: inline-block;width:5px;height:5px;border-radius:50%;background:#fff;opacity:0.5;position:relative;top:0;}
#pagination-wrap ul li.active{width:8px;height:8px;top:1px;opacity:1;box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	}
/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}
.topnews{ width: 313px; height: 59px; background: url(../images/top_news.png) no-repeat; background-size: auto 59px}
